# Welcome to 'Intro to Python'!

This course should help students who are brand new to Python to learn everything they need to in order to be able to keep up with their assessed modules on the MSc Computational and Corpus Linguistics course. Let's get started.

## 1. Print, data types and variables

### 1.1 Print

First let's try using the print function which is built into python.

In [46]:
print("Hello world!")

Hello world!

Your turn, make a different phrase print.

Notice which bits of punctuation are needed to make it work?

### 1.2 Data types and variables

Apart from the brackets, the quote marks "" were what was needed to make the phrase print.

In [51]:
print(Hello world!)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1578745968.py, line 1)

In [54]:
print(3)

3

Why did it work to print the number 3?

There are a number of different 'types' in Python. Python automatically recognises values as different types but sometimes it gets it 'wrong' or doesn't recognise the data as the type that you hoped or assumed it would. Python treats values of different types differently.

Some of the basic ones are:
int = integers (e.g. 5, -10, 1200)
float = decimal numbers (e.g. 3.5674, -0.3573, 1.0)
str = string, a string of text (e.g. "Hello world!", "Alice Eddyshaw" or "Siri, put bread on my shopping list." Even a number can be a string ("3") but then Python won't use it like a number, e.g. it won't add it, subtract it or include it in a mean.
bool = booleans, logical values (i.e. True or False)
NoneType = no value (i.e. None)

A number like 3 is automatically recognised as an integer (int) and so it doesn't need the quote marks "" that a string like "Hello world!" needs.

Let's test this out.

In [57]:
print(True)

True

In [59]:
print(-0.4876)

-0.4876

Now let's create some variables. You can store a value in a variable. That can be a value of any type.

Then, even if the name of a variable is text and looks like a string, python will know it's the name of a variable and will treat it as the type that is the type of the data you stored inside it.

In [65]:
a = 3
b = "Hello"
c = 25.654
d = 0.5
e = "4"

In [67]:
print(a+c)

28.654

In [69]:
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

It comes up with a type error. See if you can make some more type errors come up.

Create a variable f and a variable g such that you can make a sum using f and g where the answer to that sum is 50. Then ask python to perform that sum.

## 2. Collection types - Types that hold multiple values.

In [77]:
ListA = [1,2,3,4]
ListB = [8,6,4,2]